*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Science Gothic", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}
section {
    height: 100vh;
}
h1,h2,h3{
    margin: 0;
}



.hero {
    padding: 0;
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
    min-height: 100vh;
    background: url(../image/guitares_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero > .centre {
    background-color: rgba(105, 105, 105, 0.272);
}

.hero__barresup {
    background-color: rgba(68, 66, 12, 0.404);
    width: 100%;
    height: 75px;
}

.hero__titre {
    display: flex;
    justify-content: center;
    font-size: 40px;;
}

h2{
    display: flex;
    justify-content: center;
}

.plus_un_size {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    font-size: 20px;
    background-color: rgba(222, 184, 135, 0.164)
}

.marques{
    margin:0 auto 0 0;
    max-width: 900px;
    padding: 30px;
}

.bouton__inscription{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 40px;
}

.hero__menu{
    position: fixed;
    width: 600px;
    top: 20px;
    right: 30px;
}

.menu__a {
}

.hero__menu a {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(105, 112, 5, 0.466);
    border-radius: 5px 5px;
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

img {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    
}

.centre {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 auto;
    background-color: rgba(255, 255, 255, 0.301);
    height: 100vh;
    color: white;
}

body > div:nth-of-type(1) {
    background-color: rgb(195, 196, 146);
    margin: 0;
    padding: 0;
}

body > div:nth-of-type(2) {
    background-color: rgb(146, 143, 101);
}

body > div:nth-of-type(3) {
    background-color: rgb(155, 154, 82);
}

body > div:nth-of-type(4) {
    background-color: rgb(114, 112, 50);
}
body > div:nth-of-type(5) {
    background-color: rgb(82, 80, 32);
}
body > div:nth-of-type(6) {
    background-color: rgb(39, 38, 12);
}
body > div:nth-of-type(7) {
    color: white;
    background-color: rgb(46, 41, 12);
}

body > div:nth-of-type(8) {
    color: white;
    background-color: rgb(10, 2, 4);
}



